#pyir-page {
  //> * {
  //  margin: map-get($spacing, huge) 0;
  //}
}

.pyir-element {
  transition: transform 600ms, opacity 600ms;
  //display: none;
}

.pyir-element-enter {
  position: absolute;
  transform: translateY(-100%);
  opacity: 0;
}

.pyir-element-enter-active {
  position: relative;
  opacity: 1.0;
  transform: translateY(0);
  //dis
}

.pyir-element-enter-done {
  position: relative;
  opacity: 1.0;
  transform: translateY(0);
}

.pyir-element-exit {
  position: absolute;
  transform: translateY(0);
  opacity: 1.0;
}

.pyir-element-exit-active {
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
}

.pyir-element-exit-done {
  position: absolute;
  opacity: 0;
  transform: translateY(100%);
}