#content {
  justify-content: flex-start;
  overflow-x: hidden;
  width: 100%;
}

#content-frame {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  flex: 1;
  transition: transform 300ms, opacity 300ms;
}

#content-header {
  margin: 0;
  padding: map-get($spacing, large);
}