.clonomatch-results-table-container {
  padding: 0 2em;
}

.clonomatch-results-table {
  //max-width: 1024px;
  background-color: #fff;
  color: #000;
  border: 0 !important;

  * {
    transition: background-color 300ms;
  }

  >.rt-table {
    .rt-thead {
      color: #fff;
      padding: 4px;
      font-weight: bold;
    }

    >.rt-thead {
      background-color: #2db4e5;
      box-shadow: none !important;
    }
  }

  .-odd {
    background-color: rgba(0,0,0,0.00);

    &:hover {
      background-color: rgba(0,0,0,0.05);
    }
  }

  .-even {
    background-color: rgba(0,0,0,0.03);

    &:hover {
      background-color: rgba(0,0,0,0.08);
    }
  }

  .rt-tbody {
    cursor: pointer;
  }

  .rt-thead {
    cursor: default;
  }

  .-pagination {
    box-shadow: none !important;
    border-top: 0 !important;

    .-btn {
      border-radius: 0 !important;
      color: #fff !important;
      background: #2db4e5 !important;
    }
  }
}


.results-detail-container {
  //max-width: 90%;
  max-height: 80vh;
  //max-height: 600px;
  //overflow: scroll;
  //border-radius: map-get($border-radius, medium);
}

.results-detail-header {
  background-color: #30bced;
  color: #fff;
  margin: 0;
  padding: 0.5em;
}

.results-detail {
  width: 100%;
  border-radius: map-get($border-radius, medium);
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
  //font-size: 14px;
  cursor: auto;
  //overflow: scroll;
  overflow: auto;

  tr {
    font-weight: normal;
    padding: map-get($spacing, medium);
    max-width: 100%;
  }

  tr:nth-of-type(odd) {
    background-color: #FFF;
  }

  tr:first-of-type {
    //background-color: $color-scheme-1-bg-light;
    //color: #fff;
    //font-weight: bold;
  }

  tr:nth-of-type(even) {
    background-color: #F9f9ff;
  }

  th:first-of-type {
    width: 13%;
    padding: map-get($spacing, medium);
  }

  th:last-of-type {

  }

  td:first-of-type {
    width: 25%;
  }

  td {
    padding: map-get($spacing, medium);
  }
}

.results-alignment-view {
  font-size: 12px;
  font-family: Courier, monospace;
}

.results-scroll-view {
  //overflow: scroll;
  overflow: auto;
}


@media only screen and (max-width: 600px) {
  .clonomatch-results-table {
    font-size: 12px;
  }

  .results-detail-header {
    background-color: #30bced;
    color: #fff;
    margin: 0;
    padding: 0.25em;
  }

  .results-detail {
    tr {
      font-weight: normal;
      padding: map-get($spacing, medium);
      max-width: 100%;
    }

    td:first-of-type {
      width: auto;
    }

    td {
      padding: map-get($spacing, medium);
    }
  }
}
