.page-section-container {
  width: 100%;
  min-height: 75vh;

  &#clonomatch-section-container {
    color: #FFF;
    background-image: linear-gradient(#30bced, #d9eff7);
    min-height: 100vh;
  }

}

#clonomatch-section-header {
  background: url(images/bg_patterns/bg3.png) left;
  background-size: contain;
  position: relative;
  left: -50%;
  width: 200%;
}

#clonomatch-results-container {
  transition: height 1.5s;

  > div > span {
    font-size: 1.5em;
  }
}

.ReactTable .rt-thead {
  overflow-x: scroll;
}

#clonomatch-section-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#about-section-container {
  background-color: #d9eff7;
  top: 0px;
  width: 100%;
  padding: 1em;
}

#about-section {
  max-width: 1024px;
  overflow-y: scroll;
}

#help-section-container {
  background-color: #d9eff7;
  top: 0px;
  max-width: 1280px;
  height: 100px;
  overflow-y: auto;
  border-radius: 1em;
  padding: 1em;
}

#main-links-section {
  background-color: #d9eff7;
}

@media only screen and (max-width: 600px) {
  #clonomatch-section-options {
    flex-direction: column;
    align-items: center;
  }

  #clonomatch-section-results {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  #links-section-container {
    max-width: 80%;
  }
}